body,
html {
    width: 100%;
    height: 100%;
}
body{
    padding-top:100px;
}

body,
h1{
    font-family: "font-family: 'Cursive';";
}
h2,
h3,
h4,
h5,
h6 {
   
    font-weight: 550;
}

/*banner content*/
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

#banner_image {
    padding-bottom: 20px;
    margin-bottom: -50px;
    text-align: center;
    color: #f8f8f8;
    width: 100%;
    
    background-size: cover;
    opacity:1;
}
  #banner_content {
    position: relative;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 500px;
    border-radius: 25px;
}

@media(max-width:768px) {
    #banner_content {
        padding-bottom: 15%;
    }
    footer{
        text-align:left;
    }
}


.prima-logo{
    background-color: #fff;
    border-image-width: 2px;
}

/*Header*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../img/Top-Web-Development-Companies-in-2020.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}
/*footer*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.social {
    margin: 0;
    padding: 0;
}


.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}


.contstyle{
    margin-top: 50px;
}


/*banner button*/

.btn1{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(226, 144, 50);
    padding: 12px 34px;
    font-size: 13px;
    background: rgb(224, 149, 35);
    position: relative;
    cursor: pointer;
}

.btn1:hover{
    border: 1px solid #b85819;
    background: #f0bd93;
    transition: 1s;
}


/* used in some images for fromating*/ 
.img {
    border-radius: 0px; 
    width: 160px;
  }
  

/*jumbotron*/
.jumbotron {
    margin-bottom: 20px;
  
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(2, 2, 2);
     
  
}


/* img responsive*/
.responsive {
    width: 100%;
    height: auto;
  }


